#clues {
  margin-top: 1em;
}

#clues > div, .tagPair > div {
  display: list-item;
  list-style: inside;
}

#info {
  margin: 0 1em 0 auto;
  max-width: 50vmin;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

.image {
  margin-right: 1em;
}

#sites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100vmin;
}

#sites > * {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.tagPair {
  margin-top: 0.5em;
}

#top {
  display: flex;
  flex-direction: row;
}
